* {
    margin: 0;
    padding: 0;
    font-display: 'PT Sans';
}

#aboutBtn {
    position: absolute;
    bottom: 0;
}

.barrecote {
    background-color: #5C573E;
    height: 100%;
    width: 15%;
    color: white;
    position: fixed;
}

.contenant {
    width: 100vw;
    height: 100vh;
}

.contenu {
    background-color: #e2ed9c;
    width: 85%;
    margin-left: 15%;
    box-sizing: border-box;
    padding: 20px;
    font-size: 25px;
}

hr { 
    box-sizing: content-box; 
    height: 0; 
    overflow: visible;
    margin: 10px; 
}

.liens {
    display: inline-block;
    text-decoration: none;
    margin-left: 10px;
    list-style: none;
    font-size: 20px;
    position: relative;
    height: 68%;
    white-space: nowrap;
}

.lien::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

.lien:hover {
    cursor: pointer;
}

.lien:hover::after {
    width: 100%;
    transition: width .3s;
}

.lien {
    margin-top: 5px;
}

.load {
    visibility: hidden;
}

/*Pour le bouton de nouveau courriel*/
#nouveau {
    margin: 10px;
    background-color: #A5B452;
    border-radius: 10px;
    border: 2px solid #737d39;
    cursor:pointer;
    height: 30px;
    width: 160px;
    box-shadow: 0px 10px 14px -7px #484d25;
    font-weight: bold;
    color: #5C573E;
}

#nouveau:hover {
    background-color: #bccc60;
}

#nouveau:active {
    position:relative;
	top:2px;
}

#recherche {
    margin-left: 10px;
}

#sous-titre {   
    font-size: 18px;
    padding: 10px;
    font-weight: normal;
}

.titre {
    font-size: 48px;
    padding: 10px;
}
